@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

/* body{ 
    background:url(../Images/fondoPelones.png) top no-repeat center/100% #040305;
}   */



/* Componente Titulo */
.titulo h1{
    font-family: 'Sigmar One', cursive;
    font-size: 50px;
    color: rgb(195, 14, 75);
    text-align: center;
    margin: 40px 20px 10px 20px;
}

.titulo h3{
    font-family: 'Sigmar One', cursive;
    text-align: center;
    font-size: 25px;
    color: rgb(248, 46, 198);
}

.titulo{
    background-color: aquamarine;
    margin-right: 160px ;
    margin-left: 160px;
}
/* Componente NavBar */
button{
    border: none;
    background-color: rgb(43, 160, 255) ;
}

.navbar {
    background-color: rgb(43, 160, 255);
    padding: 0;
}
/*Componente TopBar*/
.topbar{
    background-color: rgb(255, 185, 246);
    padding: 0;
}
.prueba{
     color: #212529 ;
     font-size: 1.25rem !important;
}
/*Componente ImagesGalery*/
.cardGalery{
    margin: 0px;
    padding: 27px;
}

.imagesGalery{
    width: 200px;
    height: 200px;
}

.quienesSomos{
    margin-top: 60px;
}
