button{
    border: none;
    background-color: rgb(43, 160, 255) ;
}

.dropButton {
     
    
}

.style-navbar{
    background-color: rgb(43, 160, 255);
}

.topbar{
    background-color: rgb(255, 185, 246);
    padding: 0;
}
